@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');


* {
   margin: 0 0;
   padding: 0 0;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}

body {
   height: 100%;
   width: 100%;
   background-color: white;
   text-align: center;
}

.chartContainer {
   width: 70%;
   height: 60vh;
   margin: auto;
   margin-top: 20vh;
 }